body {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    background-color: #1f2937;
    font-size: 18px;
    color: #E5E7EB;
    flex-grow: 1;
    gap: 24px;
    padding-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

.hero{
    background-color: #1f2937;
    font-size: 48px;
    color: #F9FAF8;
    display: flex;
    flex: 1;
    padding-bottom: 80px;
    padding-top: 100px;
    justify-content:space-between;
    align-items: center;
    margin-left: 400px;
    margin-right: 400px;
}

.h-title {
    margin-bottom: 0;
    margin-top: 0;
    width: 400px;
}

button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.alt {
    font-size: 18px;
    padding: 0;
    margin: 0;
    width: 400px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.container{
    display: flex;
}

.info-section {
    background-color: white;
}

.info{
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}

.images {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 12px;
    gap: 36px
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.imglist {
    margin-right: 0;
    padding: 0;
}

.imgtext {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 800px;
    margin-bottom: 0;
}

.author {
    font-weight: 800;
    font-size: 24px;
    margin-left: 400px;
    margin-top: 0;
}

.signupsection {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.signupbox {
    display: flex;
    background-color: #3882f6;
    height: 150px;
    width: 1000px;
    gap: 250px;
    margin: 80px 0 80px 0;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.signcall {
    margin:0;
    color: #F9FAF8;
    font-size: 24px;
}

.signtext {
    color: #F9FAF8;
    font-size: 16px;
    margin: 0;
}

.lowerbutton {
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    height: 80px;
}

.copyright {
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    padding: 20px;
}


